body {
  font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555;
  padding-top: 90px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: Rockwell,Georgia,helvetica,sans-serif;
  font-weight: normal;
  color:#333;
}
.green, .green:hover {color: #8b992e; text-decoration: none;}

.g{
	font-size:12px;
	color:#838888;
}
.g a{
	color:#838888 !important;
}
#map {width:100%; height:400px; margin-bottom: 20px;}
.menu {
    background-color: #3e4d4e !important;
    
}

.dropdown-menu, .dropdown-menu li a:hover{background-color: #3e4d48}
.etab .dropdown-menu, .etab .dropdown-menu li a:hover{background-color: #fff !important}
.dropdown-menu li{padding: 7px;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background-color: #3e4d40}
.menu a:not(.sign){color:#ff9326 !important; font-weight:bold;}
.navbar-brand{padding:0; height:69px;}
.mnav{padding-top:13px;}
.mnav li{padding-left:7px;}
.dropdown-menu .divider {background-color: #3e4d48;}
.sign{color:#efc285 !important; text-decoration:underline; font-weight:bold}


.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.short-box{
  margin-top:20px;
  border:1px solid #c3d2d4;
  background-color: #e0e5e5;
  color:#3d3f40;
}
.short-box h4{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:6px 3px;
  font-size:13px;
  background: #a7b6b8 url(../images/bg-box.png) no-repeat;
  color:#4f5959;
}
.short-box ul{
	margin:0;
	padding:0;
}
.short-box ul li{
	list-style-type:none;
	margin:5px 5px 10px 5px;
	padding:0;
}
.short-box ul li a{
	text-decoration:none;
	color:#b53000;
}

.short-box span{
	font-size:11px;
	color:#838888;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


.footer {
    background: #fff url(../images/bg-footer.png) repeat-x;
    padding: 40px 0;
    color: #fff;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
    margin-bottom: 0;
}
.footer a {color:#ff9326;}


.nav-tabs,
.nav-pills {
  position: relative;
}

.pn{font-weight:bold; color:#0055cc;}