table.table-condensed-max td{
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color:#e9e9e9;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:#fbcf94;
}
#pswd_info {
    position:absolute;
    bottom:-15px;
    bottom: -115px\9; /* IE Specific */
    right:95px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}
#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}
#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}
.invalid {
    color:#ec3f41;
}
.valid {
    color:#3a7d34;
}
#pswd_info {
    display:none;
}